// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, '%')

// Utilities

@require $bootstrap-path + '/mixins/hide-text'
@require $bootstrap-path + '/mixins/opacity'
@require $bootstrap-path + '/mixins/image'
@require $bootstrap-path + '/mixins/labels'
@require $bootstrap-path + '/mixins/reset-filter'
@require $bootstrap-path + '/mixins/resize'
@require $bootstrap-path + '/mixins/responsive-visibility'
@require $bootstrap-path + '/mixins/size'
@require $bootstrap-path + '/mixins/tab-focus'
@require $bootstrap-path + '/mixins/reset-text'
@require $bootstrap-path + '/mixins/text-emphasis'
@require $bootstrap-path + '/mixins/text-overflow'
@require $bootstrap-path + '/mixins/vendor-prefixes'

// Components
@require $bootstrap-path + '/mixins/alerts'
@require $bootstrap-path + '/mixins/buttons'
@require $bootstrap-path + '/mixins/panels'
@require $bootstrap-path + '/mixins/pagination'
@require $bootstrap-path + '/mixins/list-group'
@require $bootstrap-path + '/mixins/nav-divider'
@require $bootstrap-path + '/mixins/forms'
@require $bootstrap-path + '/mixins/progress-bar'
@require $bootstrap-path + '/mixins/table-row'

// Skins
@require $bootstrap-path + '/mixins/background-variant'
@require $bootstrap-path + '/mixins/border-radius'
@require $bootstrap-path + '/mixins/gradients'

// Layout
@require $bootstrap-path + '/mixins/clearfix'
@require $bootstrap-path + '/mixins/center-block'
@require $bootstrap-path + '/mixins/nav-vertical-align'
@require $bootstrap-path + '/mixins/grid-framework'
@require $bootstrap-path + '/mixins/grid'
