/*!!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
$bootstrap-path = '../../../../node_modules/bootstrap-styl/bootstrap';

// Core variables and mixins
@require 'custom-variables'
@require 'custom-mixins'
// @require $bootstrap-path + '/variables'
// @require $bootstrap-path + '/mixins'

// Reset and dependencies
@require $bootstrap-path + '/normalize'
@require $bootstrap-path + '/print'
@require $bootstrap-path + '/glyphicons'

// Core CSS
@require $bootstrap-path + '/scaffolding'
@require $bootstrap-path + '/type'
@require $bootstrap-path + '/code'
@require $bootstrap-path + '/grid'
@require $bootstrap-path + '/tables'
@require $bootstrap-path + '/forms'
@require $bootstrap-path + '/buttons'

// Components
@require $bootstrap-path + '/component-animations'
@require $bootstrap-path + '/dropdowns'
@require $bootstrap-path + '/button-groups'
@require $bootstrap-path + '/input-groups'
@require $bootstrap-path + '/navs'
@require $bootstrap-path + '/navbar'
@require $bootstrap-path + '/breadcrumbs'
@require $bootstrap-path + '/pagination'
@require $bootstrap-path + '/pager'
@require $bootstrap-path + '/labels'
@require $bootstrap-path + '/badges'
@require $bootstrap-path + '/jumbotron'
@require $bootstrap-path + '/thumbnails'
@require $bootstrap-path + '/alerts'
@require $bootstrap-path + '/progress-bars'
@require $bootstrap-path + '/media'
@require $bootstrap-path + '/list-group'
@require $bootstrap-path + '/panels'
@require $bootstrap-path + '/responsive-embed'
@require $bootstrap-path + '/wells'
@require $bootstrap-path + '/close'

// Components w/ JavaScript
@require $bootstrap-path + '/modals'
@require $bootstrap-path + '/tooltip'
@require $bootstrap-path + '/popovers'
@require $bootstrap-path + '/carousel'

// Utility classes
@require $bootstrap-path + '/utilities'
@require $bootstrap-path + '/responsive-utilities'
