.animated:hover.bounce-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounce;
  transform-origin: center bottom;
}

.animated:hover.flash-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: flash;
  transform-origin: center bottom;
}

.animated:hover.pulse-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  transform-origin: center bottom;
}

.animated:hover.rubberBand-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: rubberBand;
  transform-origin: center bottom;
}

.animated:hover.shake-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: shake;
  transform-origin: center bottom;
}

.animated:hover.swing-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: swing;
  transform-origin: center bottom;
}

.animated:hover.tada-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: tada;
  transform-origin: center bottom;
}

.animated:hover.wobble-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: wobble;
  transform-origin: center bottom;
}

.animated:hover.jello-hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: jello;
  transform-origin: center bottom;
}
