
$font-family-sans-serif ?=  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif ?=       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=   Menlo, Monaco, Consolas, "Courier New", monospace;

$sub-headings-custom-font ?= "Blanch", $font-family-sans-serif;
$heading-custom-font ?= "Ridge", $sub-headings-custom-font;

// Monoglyceride
// @font-face {
//  font-family: 'Monoglyceride';
//  src: url('../fonts/monoglyceride/Monoglyceride.ttf');
//  src: url('../fonts/monoglyceride/Monoglyceride.ttf') format("truetype");
//  font-weight: normal;
//  font-style: normal;
// }

// @font-face {
//  font-family: 'Monoglyceride';
//  src: url('../fonts/monoglyceride/MonoglycerideBold.ttf');
//  src: url('../fonts/monoglyceride/MonoglycerideBold.ttf') format("truetype");
//  font-weight: bold;
//  font-style: normal;
// }

// @font-face {
//  font-family: 'Monoglyceride';
//  src: url('../fonts/monoglyceride/MonoglycerideDemiBold.ttf');
//  src: url('../fonts/monoglyceride/MonoglycerideDemiBold.ttf') format("truetype");
//  font-weight: 600;
//  font-style: normal;
// }

// @font-face {
//  font-family: 'Monoglyceride';
//  src: url('../fonts/monoglyceride/MonoglycerideExtraBold.ttf');
//  src: url('../fonts/monoglyceride/MonoglycerideExtraBold.ttf') format("truetype");
//  font-weight: 800;
//  font-style: normal;
// }




// Nova Mono
// @font-face {
//  font-family: 'Nova Mono';
//  src: url('../fonts/nova_mono/NovaMono.ttf');
//  src: url('../fonts/nova_mono/NovaMono.ttf') format("truetype");
//  font-weight: 800;
//  font-style: normal;
// }

// sin city
// @font-face {
//  font-family: 'Sin City';
//  src: url('../fonts/sin_city/SinCity.ttf');
//  src: url('../fonts/sin_city/SinCity.ttf') format("truetype");
// }

// starlight
// @font-face {
//  font-family: 'Starlight';
//  src: url('../fonts/starlight/Starlight.ttf');
//  src: url('../fonts/starlight/Starlight.ttf') format("truetype");
// }



// Markus ink
// @font-face {
//  font-family: 'Markus Ink';
//  src: url('../fonts/markus-ink/MarkusInk.ttf');
//  src: url('../fonts/markus-ink/MarkusInk.ttf') format("truetype");
// }


// Blanch
@font-face {
 font-family: 'Blanch';
 src: url('../fonts/Blanch/BLANCH_CAPS.otf');
 src: url('../fonts/Blanch/BLANCH_CAPS.otf') format("opentype");
}

// Origram
// @font-face {
//  font-family: 'Origram';
//  src: url('../fonts/Origram/Origram.otf');
//  src: url('../fonts/Origram/Origram.otf') format("opentype");
// }

// Ridge
@font-face {
 font-family: 'Ridge';
 src: url('../fonts/Ridge/Ridge-Regular.otf');
 src: url('../fonts/Ridge/Ridge-Regular.otf') format("opentype");
}
