
@media only screen and (min-width : 768px) {
  .row-centered {
    text-align: center;
    .col-centered {
      display: inline-block;
      float: none;
      text-align: left;
      margin-right: -4px;
    }
  }
}
