.box-shadow {
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.5);
}
.box-shadow-light {
  box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.25);
}
.box-shadow-lighter-lg {
  box-shadow: 0px 5px 11px 0px $gray-lighter;
}

.box-shadow-primary {
  box-shadow: 0px 5px 11px 0px alpha($brand-primary, 0.5);
}

.box-shadow-info {
  box-shadow: 0px 5px 11px 0px alpha(darken($brand-info, 20), 0.5);
}
.box-shadow-muted {
  box-shadow: 0px 5px 11px 0px alpha($gray-light, 0.5);
}

.text-shadow-info {
    text-shadow: 0px 1px 4px alpha(darken($brand-info, 20), 0.5);
}
.text-shadow-primary {
    text-shadow: 0px 1px 4px alpha(darken($brand-primary, 20), 0.5);
}
.text-shadow-muted {
    text-shadow: 0px 1px 4px alpha(darken($gray-light, 20), 0.5);
}

.text-shadow-whitewash {
    text-shadow: 0px 0px 12px white;
}
